<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/SCHOOLMNG</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		
		<mapping class="com.hokumus.schoolmanagement.model.management.Days"/>
		<mapping class="com.hokumus.schoolmanagement.model.user.Users"/>
		<mapping class="com.hokumus.schoolmanagement.model.teacher.StudentAttendance"/>
		<mapping class="com.hokumus.schoolmanagement.model.management.Courses"/>
		<mapping class="com.hokumus.schoolmanagement.model.management.GroupDays"/>
		
		<mapping class="com.hokumus.schoolmanagement.model.management.LessonClass"/>
		<mapping class="com.hokumus.schoolmanagement.model.student.Student"/>
		<mapping class="com.hokumus.schoolmanagement.model.student.StudentGroups"/>
		<mapping class="com.hokumus.schoolmanagement.model.student.StudentPayments"/>
		<mapping class="com.hokumus.schoolmanagement.model.teacher.Teacher"/>
		<mapping class="com.hokumus.schoolmanagement.model.teacher.Attendance"/>
		<mapping class="com.hokumus.schoolmanagement.model.management.Groups"/>
		
		
		
		
		
	</session-factory>
	
	
</hibernate-configuration>